<!DOCTYPE html >
<html   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>COOLSMS LOGIN</title>
<!-- CKEditor 로드 -->
<script src="//cdn.ckeditor.com/4.25.1/standard/ckeditor.js"></script> 

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div class="container  card  bg-primary text-white">
	<h4  class="card-header"> MOBILE - SNS 인증 </h4>
	<pre>
		1. CoolSMS란?
			카카오 알림톡 및 문자메시지 웹 발송을 지원해주는 REST API 제공 서비스이다.
			단문, 장문, 포토 메시지 등을 보낼 수 있다.
 

		2. CoolSMS 회원가입 및 API KEY 생성
			https://coolsms.co.kr/
 

		3. CoolSMS Library 다운받기
			1) 메인페이지에서 지원센터 창을 클릭한다. - 중간에 개발자 - SDK
				https://coolsms.zendesk.com/hc/ko
				
			2) SDK 부분에서 JAVA를 클릭한다. 
				https://mvnrepository.com/search?q=coolsms
				
<!-- 			
			<!-- https://mvnrepository.com/artifact/net.nurigo/javaSDK  - - >
			<dependency>
			    <groupId>net.nurigo</groupId>
			    <artifactId>javaSDK</artifactId>
			    <version>2.2</version>
			</dependency> 
-->

	</pre>
</div>	


    <div    class="container    my-5" id="contents"> 
      <h3 class="panel-heading">CoolsSMS</h3>
         <label for="to">받는사람 :</label> 
         <input type="text" id="to" name="to"/>   <!-- 인증번호 받을사람 휴대폰 번호 -->
         <input type="button" id="send"  value="전송" title="인증문자전송" >  <!-- 문자보내는 전송버튼 -->
      
         <hr/>
         <hr/>
      
         <label for="userNum">인증번호 :</label> 
          <input type="text" id="userNum"   name="userNum">   <!-- 인증번호 입력창 -->
          <input type="button" id="enterBtn"  value="확인"  title="인증">   <!-- 인증번호와 내가 입력창에 입력한 인증번호 비교하는 창 -->      
    </div>
    <script>
       $(function(){
    	   $("#send").on("click"  , function(){
    		  $.ajax({
    			  url:"/coolsmsapi" , 
    			  type:"get" , 
    			  data:{"to" :  $("#to").val() } ,
    			  success:function(data){
    				  alert("인증번호 : " + data);
    				  $("#enterBtn").click(function(){
    					  const userNum = $("#userNum").val();
    					  if(  data == userNum ){  alert("인증성공!");}
    					  else{  alert("인증실패!");  }
    				  });
    			  },
    			  error:function(){}
    		  }); 
    	   });
       });
    </script>
    
</body>
</html>



